<p style="color: green"><%= notice %></p>
<%= render @comment %>
<% if user_signed_in? && (comment.user == current_user || current_user.admin?) %>
  <div>
    <%= link_to "Edit this comment", edit_post_comment_path(@comment.post, @comment) %> |
    <%= link_to "Back to comments", post_comments_path(@comment.post) %>
    <%= button_to "Destroy this comment", post_comment_path(@comment.post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
